[core]
	# editor = code --wait
	editor = nvim
	pager = delta
[user]
	name = kenjiebalona
	email = kbalona5@gmail.com
[init]
	defaultBranch = main

[interactive]
    	diffFilter = delta --color-only

[delta]
    	navigate = true  # use n and N to move between diff sections
    	dark = true      # or light = true, or omit for auto-detection
	line-numbers = true
	side-by-side = true

